<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.hoseinporazar.nativeandroidtts">

    <application
        android:allowBackup="true"

        android:label="Native TTS"
        android:supportsRtl="true"
>

    </application>

</manifest>